<!-- <div class=" container mx-auto"> -->
  <!-- <div>
    <img src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Clipart.png">
  </div> -->

      <!-- <div class="first">
          <h2>Welcome to Admin Dashboard</h2>
         
            <div class="user-info">
              <span>
              <img src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Clipart.png">
            </span>
                <p>Email: {{ adminData?.email }}</p>
                <p>Role: {{ adminData?.role }}</p>
                <p>Username:{{adminData?.userName}}</p>
                
            </div>
</div> -->
<h2 style="text-align: center; color: brown; font-weight: bold; margin-top: 20px;">WELCOME TO ADMIN PROFILE</h2>
<div class="first">
 <!-- <img src="https://cdn-icons-png.flaticon.com/512/306/306473.png" >  -->
   <img src="https://cdn-icons-png.flaticon.com/512/306/306473.png" class="profile-image"> 
  <div class="user-info">
     
      <p>Email: {{ adminData?.email }}</p>
      <p>Role: {{ adminData?.role }}</p>
      <p>Username: {{ adminData?.userName }}</p>
  </div>
</div>
