/* .project-list {
    margin-top: 20px;
  }
  
  .project-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .project-table th, .project-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .project-table th {
    background-color: #f2f2f2;
  }
  
  .project-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .project-table tr:hover {
    background-color: #ddd;
  }
   */

   .project-list {
    margin-top: 20px;
  }
 
  .project-table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 10px;
    margin-right: 10px;
  }

  .btn1 {
    padding: 8px 12px;
    background-color: #365cf4bf;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
 
  .project-table th, .project-table td {
    border: 1px solid gray;
    padding: 8px;
  }
 
  .project-table th {
    background-color: #8c8a8a;
  }
 
  .project-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
 
  .project-table tr:hover {
    background-color: #ddd;
  }
  h2{
    color: #365cf4bf;
    font-weight: bold;
    margin-left: 10px;
   
}