<!-- add-project.component.html -->

<div class="container">
    <h2>Add Category</h2>
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" formControlName="name" required>
        <div *ngIf="projectForm.controls['name'].invalid && (projectForm.controls['name'].dirty || projectForm.controls['name'].touched)" class="text-danger">
          Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" formControlName="description" required></textarea>
        <div *ngIf="projectForm.controls['description'].invalid && (projectForm.controls['description'].dirty || projectForm.controls['description'].touched)" class="text-danger">
          Description is required
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!projectForm.valid">Submit</button>
    </form>
  </div>
  
  
