<!-- Navbar -->
<nav class="bg-primary navbar navbar-expand-lg  ">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <div class="img-circle">
      <img src="https://w7.pngwing.com/pngs/310/134/png-transparent-educational-technology-apprendimento-online-learning-course-portal-blue-text-logo.png" alt="">
 
    </div>
         <!-- Toggle button -->
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
 
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light" >Training Portal</a>
        </li>
      </ul>
      <!-- Left links -->
 
      <div class="d-flex align-items-center">
        <a type="button" class="btn btn-light px-3 me-2" routerLink="/about-us">
          About us
        </a>
        <a type="button" class="btn btn-light px-3 me-2" routerLink="/contact-us">
          Contact us
        </a>
        <a type="button" class="btn btn-light px-3 me-2 " routerLink="/login">
          Login
        </a>
   
        <a type="button" type="button" class="btn btn-light me-3" routerLink="/signup">
          Sign up
        </a>
      </div>
     
    <!-- Collapsible wrapper -->
  </div>
</div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->




