/* assign-training.component.css */

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }
  
  /* Optional: Add more styling as needed */
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:  #365cf4bf;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

.profile-section {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    z-index: 1000;
    display: none;
}

.profile-section.active {
    display: block;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

footer {
    background-color: #f8f9fa;
    color: #0e0c0c;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h2{
    font-weight: bold;
}
.profile-logout {
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    padding: 7px 10px;
    margin-right: 10px;
    text-decoration: none;
      float: right;
      font-weight: bold;
      border-radius: 50px;
    
  }





